/**********************************
 Author and software info here
 **********************************/
manifest {
  name = 'isugifNF/blast'
  author = 'Andrew Severin'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Nextflow adapted BLAST program'
  mainScript = 'main.nf'
  version = '1.0.0'
}


params {
  genome = false
  help = false
  query = "${baseDir}/example.fasta"
  outdir = './out_dir'
  dbDir = "${baseDir}/DB"
  dbName ='headtest'
  outfmt = "'6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore qlen slen frames salltitles qcovs'"
  options = "-evalue 1e-3"
  outfileName = "blastout"
  threads = 8
  chunkSize = 25000 //this is the number of fasta records to split the file into
  app = "blastn"   //   blast program
  makeblastdb = false
  queueSize = 18
  monochrome_logs = false
}

process {
  publishDir = "${baseDir}/$params.outdir"

  /* really should combine these via withLabel:blast... but it's giving wierd behavior */
  withName:software_check {
    container = 'ncbi/blast'
  }

  withName:runBlast {
    container = 'ncbi/blast'
  }

  withName:runMakeBlastDB {
    container = 'ncbi/blast'
  }
}

executor {
  queueSize = 20
  submitRateLimit = '10 sec'
}

profiles {
  condo { includeConfig './configs/condo.config' }
  ceres { includeConfig './configs/ceres.config' }
  local { includeConfig './configs/local.config'}
  nova { includeConfig './configs/local.config'}
  test { includeConfig './configs/test.config'}

  docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

// Avoid this error:
//   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
docker.runOptions = '-u \$(id -u):\$(id -g)'



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
